{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>About</h1>
    <pre>
Welcome to my profile🙏,I'm Debajit Mallick pursuing my sophomore year Bachelor of Technology and my core branch is Computer Science and Engineering.
I'm a proactive learner and a passionate guy with ambition to do something unique which will helpful for socity. Currently, I'm aslo exploring web
development and app development and working on some projects. I'm on the way to my journey and regularly updating myself with new things.

I love to explore opportunities and new technologies. I like to explore the programs provided by tech companies. I am currently working in Google Local
Guide as a freelance contributor, Google Crowdsource as a contributor,  Google Developer Group(Siliguri) as a member. I have acquired some technical
skills and programming languages through online courses and at college.

▪️My Coding Profile
☑️HackerRank : https://www.hackerrank.com/mallickdebajit3

▪️My Developer Profile
☑️ Github : https://github.com/debajit13
☑️ Stack Overflow: https://stackoverflow.com/users/10615214/debajit-mallick

Along with my studies I also enjoying my hobbies because these help me to get refreshed, motivated focused and entertained. These are -
▶️ Doodling ✍️
▶️ Painting 🎨
▶️ Music 🎧
▶️ Watching Marvel Movies 🎞️
▶️ Exploring places and new things 🌍
▶️ Internet Surfing 👨‍💻

I'm reachable at
🥇 Email - mallickdebajit3@gmail.com
🥈 Twitter - https://twitter.com/MallickDebajit

  </pre>
</div>
{% endblock %}
